.header {
  display: flex;
  height: 7vh;
  align-items: center;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 10px
}

.search {
  flex: 4;
  justify-content: 'flex-start';
}

.search-box {
  width: 60vw;
  height: 3vh;
}

.search-button {
  background-color: #F1F1F1;
  color: #C4C4C4;
  padding: 5px;
}

.search-icon {
  font-size: 20px;
}

.search-complete {
  position: absolute;
  list-style: none;
  top: 22px;
  background-color: #FFFFFF;
  justify-content: flex-start;
  border: 1px solid #C4C4C4;
  padding:5px;
}
